.Svg {
  height: 200px;
  animation: spinn 10s infinite linear;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: transparent;
}

#product-options {
  background-color: beige;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

@keyframes spinn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
