.App {
  text-align: center;
}

#header {
  height: 70px;
  width: 100%;
  background: grey;
}

.home-container {
  background: #aaa;
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

audio {
  background-color: #aaa;

  text-indent: 0;

  border-radius: 5px;
}
